# R example: sorting

In [1]:
D <- data.frame(x=c(1,2,3,1), y=c(7,19,2,2))
D

  x y
1 1  7
2 2 19
3 3  2
4 1  2

In [2]:
# Sort on x
indexes <- order(D$x)
D[indexes,]

  x y
1 1  7
4 1  2
2 2 19
3 3  2

In [3]:
# Print out sorted dataset, sorted in reverse by y
D[rev(order(D$y)),]

  x y
2 2 19
1 1  7
4 1  2
3 3  2